# Dependencias de Node
node_modules/

# Variables de entorno
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# PM2
pm2.pid
pm2.log
pm2.*

# Directorios de build (si llegas a usar Babel/TypeScript)
dist/
build/

# IDEs y editores
.vscode/
.idea/

# S.O.
.DS_Store
Thumbs.db

# Coverage (si usas Jest u otro)
coverage/

# Archivos temporales
*.tmp
*.swp
*.swo
